.cashdrop-modal {
    background: white;
    padding: 25px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 15px;
}

.cashdrop-modal .modal-content{
    border: none;
}

.cashdrop-modal button{
    float: right;
    margin: 10px 20px 0px 0px ;
    border: none;
    background: none;

}