#BAT{
    /* height:fit-content; */
    /* padding-top:  225px */
    
}  
/* .table {
    overflow-y: scroll;
    height: 70px;
} */
.select-player tbody tr th { padding: 10px 0 10px 15px !important; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {vertical-align: middle; border: none; }
.table>tbody>tr>th { font-size: 12px; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 0; }