.invite-code .team-m {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0px;
}

.invite-code .team-m h4{
    top: 0px;
}

.invite-code .point-m {
    padding: 0 20px;
    position: fixed;
    margin-top: 0px;
    margin-left: -14px;
    width: 441px;
}

.form-invite-j{
    padding-top: 60px;
}