.rightblackwallet-m {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 18px;
    font-weight: 400;
}

.login-m{
    padding: 0 16px;    
    height: 55px;
}
.login-m h1{   
     font-size: 18px; 
     color: #000;  
     position: relative;  
     float: left;  
     margin: 17px 16px;
    }
.login-m span{ 
    position: relative;
    float: left;
    margin: 15px 0px; 
}    
